.Quiz{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to right, #1488cc, #2b32b2);;
}

.Quiz h1{
    color: #fff;
    margin-left: 10px;
}

.QuizWrapper{
    
}