.QuizCreator{
    display: flex;
    justify-content: center;
    padding-top:  50px;
    flex-grow: 1; /*вся высота*/
    width: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  


}

.QuizCreator >div{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.QuizCreator h1{
    text-align: center;
    color: white;
    box-shadow: 2px, 2px 2px, rgba(158, 56, 56, 0.5);
}

.QuizCreator form{
    background: rgb(188, 174, 225);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px, 2px 2px, rgba(221, 215, 215, 0.5);
}